# Ignore all image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.svg
*.ico
*.webp
*.heic
*.heif
*.raw
*.psd
*.ai
*.eps
*.zip
*.exe

# Ignore image files in all directories
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.bmp
**/*.tiff
**/*.tif
**/*.svg
**/*.ico
**/*.webp
**/*.heic
**/*.heif
**/*.raw
**/*.psd
**/*.ai
**/*.eps
**/*.zip
**/*.exe

/node_modules
*/node_modules
**/node_modules

/Ignore Folder/
*.glb
*.max
*.fbx
*.blend
*.blend1

**/build/
**/dist/
